@import url(https://fonts.googleapis.com/css2?family=Heebo:wght@400;

500;700;900&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-faceboock:before {
  content: "\e900";
}

._icon-twitter:before {
  content: "\e901";
}

._icon-instagram:before {
  content: "\e902";
}

._icon-linkedin:before {
  content: "\e903";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #21243D;
  line-height: 1;
  font-family: "Heebo";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Heebo";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 55.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.text {
  line-height: 1.5;
}

.title {
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 1.3636363636;
}

.header__container {
  max-width: 64.5rem;
  height: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__logo img {
  width: 100%;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  font-size: 1.25rem;
  line-height: 1.45;
  font-weight: 500;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.footer {
  padding: 3.4375rem 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  font-size: 0.875rem;
  line-height: 1.5;
}

.footer-sochial__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.1875rem;
  margin-bottom: 1.625rem;
}

.footer-sochial__link {
  font-size: 1.875rem;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.page__resume {
  padding-top: 10.625rem;
  margin-bottom: 4.4375rem;
}

.page__posts {
  background: #EDF7FA;
  padding-bottom: 2rem;
}

.page__works {
  margin-bottom: 5rem;
}

.resume__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resune-info__button {
  display: inline-block;
  padding: 0rem 1.3125rem;
  background: #FF6464;
  border-radius: 0.125rem;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2.35;
  color: #fff;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.resume-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 15.1875rem;
  height: 15.1875rem;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: -0.3125rem 0.8125rem 0 #EDF7FA;
          box-shadow: -0.3125rem 0.8125rem 0 #EDF7FA;
}

.resume-image img {
  max-width: 100%;
}

.posts__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.posts__title {
  line-height: 2.7272727273;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.posts__all {
  line-height: 1.5;
  color: #00A8CC;
}

.posts__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -0.625rem;
}

.post {
  margin: 0 0.625rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  padding: 1.5625rem;
}

.post__title {
  font-weight: 700;
  line-height: 1.4615384615;
  margin-bottom: 1.0625rem;
  display: block;
}

.post__info {
  line-height: 1.4444444444;
  margin-bottom: 0.6875rem;
}

.post__info span {
  padding: 0 1.125rem;
}

.works .works-title {
  margin-top: 5.625rem;
}

.works__title {
  line-height: 3.9090909091;
}

.work {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
  border-bottom: 0.0625rem solid #E0E0E0;
}

.work-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 15.375rem;
  max-height: 11.25rem;
  border-radius: 0.375rem;
  overflow: hidden;
}

.work-image img {
  width: 100%;
}

.work-content__title {
  display: inline-block;
  font-weight: 700;
  line-height: 1.4666666667;
}

.work-content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.625rem;
  margin-bottom: 1.375rem;
}

.work-content__ear {
  color: #fff;
  font-weight: 900;
  background: #142850;
  border-radius: 1rem;
  font-size: 1.125rem;
  line-height: 1.3888888889;
  padding: 0 0.625rem;
}

.work-content__category {
  font-size: 1.25rem;
  line-height: 1.45;
  color: #8695A4;
}

.blog__container {
  margin-bottom: 3.3125rem;
}

.blog__title {
  margin-top: 5.625rem;
}

.blog-item {
  border-bottom: 0.0625rem solid #E0E0E0;
}

.blog-item__title {
  font-weight: 500;
  line-height: 1.4666666667;
}

.blog-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.45;
  margin-bottom: 0.9375rem;
}

.blog-item__info span {
  margin: 0 0.9375rem;
}

.blog-item__category {
  color: #8695A4;
}

.contact__container {
  max-width: 42.5625rem;
  margin-top: 5.625rem;
}

.contact__title {
  font-weight: 700;
  line-height: 1.1764705882;
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.0625rem;
  margin-bottom: 1.5rem;
}

.contact__date {
  font-weight: 900;
  font-size: 1.125rem;
  height: 1.5625rem;
  background: #FF7C7C;
  border-radius: 16px;
  padding: 0.3125rem 0.625rem;
  color: #fff;
}

.contact__categoty {
  font-size: 1.25rem;
  line-height: 1.25;
}

.contact__image img {
  width: 100%;
}

@media (min-width: 47.99875em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.0625rem;
  }
}

@media (min-width: 53.5em) {
  .title {
    font-size: 2.75rem;
  }

  .title {
    margin-bottom: 2.1875rem;
  }

  .resume__container {
    -webkit-column-gap: 7.1875rem;
       -moz-column-gap: 7.1875rem;
            column-gap: 7.1875rem;
  }

  .resune-info__text {
    margin-bottom: 2.1875rem;
  }

  .posts__title {
    font-size: 1.375rem;
  }

  .post__title {
    font-size: 1.625rem;
  }

  .post__info {
    font-size: 1.125rem;
  }

  .works__title {
    font-size: 1.375rem;
  }

  .work {
    padding-bottom: 1.875rem;
  }

  .work:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .work-content__title {
    font-size: 1.875rem;
  }

  .work-content__title {
    margin-bottom: 1.25rem;
  }

  .work-content__info {
    gap: 1.625rem;
  }

  .blog-item {
    padding-bottom: 1.875rem;
  }

  .blog-item:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .blog-item__title {
    font-size: 1.875rem;
  }

  .blog-item__title {
    margin-bottom: 1rem;
  }

  .blog-item__info {
    font-size: 1.25rem;
  }

  .contact__title {
    font-size: 2.125rem;
  }

  .contact__title {
    margin-bottom: 1.875rem;
  }

  .contact__text {
    margin-bottom: 1.875rem;
  }

  .contact__image {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 2rem;
  }

  .title {
    margin-bottom: 1rem;
  }

  .resume__container {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .resune-info__text {
    margin-bottom: 1.25rem;
  }

  .posts__title {
    font-size: 1.125rem;
  }

  .post__title {
    font-size: 1.375rem;
  }

  .post__info {
    font-size: 1rem;
  }

  .works__title {
    font-size: 1.125rem;
  }

  .work {
    padding-bottom: 0.9375rem;
  }

  .work:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .work-content__title {
    font-size: 1.5rem;
  }

  .work-content__title {
    margin-bottom: 1rem;
  }

  .work-content__info {
    gap: 1.375rem;
  }

  .blog-item {
    padding-bottom: 0.9375rem;
  }

  .blog-item:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .blog-item__title {
    font-size: 1.625rem;
  }

  .blog-item__title {
    margin-bottom: 0.3125rem;
  }

  .blog-item__info {
    font-size: 1rem;
  }

  .contact__title {
    font-size: 1.875rem;
  }

  .contact__title {
    margin-bottom: 1.4375rem;
  }

  .contact__text {
    margin-bottom: 1.4375rem;
  }

  .contact__image {
    margin-bottom: 1.4375rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: #FF6464;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu__list {
    text-align: center;
    margin-top: 7.5rem;
  }

  .menu__list :not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .menu__link {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #fff;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000000;
  }

  .menu-open .icon-menu span,
  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    background-color: #ffffff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .page__resume {
    padding-top: 2.0625rem;
  }

  .page__resume {
    margin-bottom: 3.6875rem;
  }

  .resume__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }

  .resume-image {
    margin: 0 auto;
    margin-bottom: 2.125rem;
  }

  .posts__title {
    text-align: center;
  }

  .posts__all {
    display: none;
  }

  .posts__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.9375rem;
  }

  .works .works-title {
    margin-top: 1.5625rem;
  }

  .works__title {
    text-align: center;
  }

  .work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .work-image {
    width: 100%;
    max-height: 37.5rem;
  }

  .blog__title {
    margin-top: 1.5625rem;
  }

  .contact__container {
    margin-top: 1.5625rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (min-width: 20em) and (max-width: 53.5em) {
@supports (font-size: clamp( 2rem , 1.552238806rem  +  2.2388059701vw , 2.75rem )) {
    .title {
      font-size: clamp( 2rem , 1.552238806rem  +  2.2388059701vw , 2.75rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.552238806rem  +  2.2388059701vw , 2.75rem )) {
    .title {
      font-size: calc(2rem + 0.75 * (100vw - 20rem) / 33.5);
    }
}

@supports (margin-bottom: clamp( 1rem , 0.2910447761rem  +  3.5447761194vw , 2.1875rem )) {
    .title {
      margin-bottom: clamp( 1rem , 0.2910447761rem  +  3.5447761194vw , 2.1875rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.2910447761rem  +  3.5447761194vw , 2.1875rem )) {
    .title {
      margin-bottom: calc(1rem + 1.1875 * (100vw - 20rem) / 33.5);
    }
}

@supports ((-moz-column-gap: clamp( 3.125rem , 0.6996268657rem  +  12.1268656716vw , 7.1875rem )) or (column-gap: clamp( 3.125rem , 0.6996268657rem  +  12.1268656716vw , 7.1875rem ))) {
    .resume__container {
      -webkit-column-gap: clamp( 3.125rem , 0.6996268657rem  +  12.1268656716vw , 7.1875rem );
         -moz-column-gap: clamp( 3.125rem , 0.6996268657rem  +  12.1268656716vw , 7.1875rem );
              column-gap: clamp( 3.125rem , 0.6996268657rem  +  12.1268656716vw , 7.1875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 3.125rem , 0.6996268657rem  +  12.1268656716vw , 7.1875rem )) or (column-gap: clamp( 3.125rem , 0.6996268657rem  +  12.1268656716vw , 7.1875rem ))) {
    .resume__container {
      -webkit-column-gap: calc(3.125rem + 4.0625 * (100vw - 20rem) / 33.5);
         -moz-column-gap: calc(3.125rem + 4.0625 * (100vw - 20rem) / 33.5);
              column-gap: calc(3.125rem + 4.0625 * (100vw - 20rem) / 33.5);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.6902985075rem  +  2.7985074627vw , 2.1875rem )) {
    .resune-info__text {
      margin-bottom: clamp( 1.25rem , 0.6902985075rem  +  2.7985074627vw , 2.1875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6902985075rem  +  2.7985074627vw , 2.1875rem )) {
    .resune-info__text {
      margin-bottom: calc(1.25rem + 0.9375 * (100vw - 20rem) / 33.5);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9757462687rem  +  0.7462686567vw , 1.375rem )) {
    .posts__title {
      font-size: clamp( 1.125rem , 0.9757462687rem  +  0.7462686567vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9757462687rem  +  0.7462686567vw , 1.375rem )) {
    .posts__title {
      font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 33.5);
    }
}

@supports (font-size: clamp( 1.375rem , 1.2257462687rem  +  0.7462686567vw , 1.625rem )) {
    .post__title {
      font-size: clamp( 1.375rem , 1.2257462687rem  +  0.7462686567vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.2257462687rem  +  0.7462686567vw , 1.625rem )) {
    .post__title {
      font-size: calc(1.375rem + 0.25 * (100vw - 20rem) / 33.5);
    }
}

@supports (font-size: clamp( 1rem , 0.9253731343rem  +  0.3731343284vw , 1.125rem )) {
    .post__info {
      font-size: clamp( 1rem , 0.9253731343rem  +  0.3731343284vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9253731343rem  +  0.3731343284vw , 1.125rem )) {
    .post__info {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 33.5);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9757462687rem  +  0.7462686567vw , 1.375rem )) {
    .works__title {
      font-size: clamp( 1.125rem , 0.9757462687rem  +  0.7462686567vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9757462687rem  +  0.7462686567vw , 1.375rem )) {
    .works__title {
      font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 33.5);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.3777985075rem  +  2.7985074627vw , 1.875rem )) {
    .work {
      padding-bottom: clamp( 0.9375rem , 0.3777985075rem  +  2.7985074627vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.3777985075rem  +  2.7985074627vw , 1.875rem )) {
    .work {
      padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 33.5);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.3777985075rem  +  2.7985074627vw , 1.875rem )) {
    .work:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.3777985075rem  +  2.7985074627vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.3777985075rem  +  2.7985074627vw , 1.875rem )) {
    .work:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 33.5);
    }
}

@supports (font-size: clamp( 1.5rem , 1.276119403rem  +  1.1194029851vw , 1.875rem )) {
    .work-content__title {
      font-size: clamp( 1.5rem , 1.276119403rem  +  1.1194029851vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.276119403rem  +  1.1194029851vw , 1.875rem )) {
    .work-content__title {
      font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 33.5);
    }
}

@supports (margin-bottom: clamp( 1rem , 0.8507462687rem  +  0.7462686567vw , 1.25rem )) {
    .work-content__title {
      margin-bottom: clamp( 1rem , 0.8507462687rem  +  0.7462686567vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.8507462687rem  +  0.7462686567vw , 1.25rem )) {
    .work-content__title {
      margin-bottom: calc(1rem + 0.25 * (100vw - 20rem) / 33.5);
    }
}

@supports (gap: clamp( 1.375rem , 1.2257462687rem  +  0.7462686567vw , 1.625rem )) {
    .work-content__info {
      gap: clamp( 1.375rem , 1.2257462687rem  +  0.7462686567vw , 1.625rem );
    }
}

@supports not (gap: clamp( 1.375rem , 1.2257462687rem  +  0.7462686567vw , 1.625rem )) {
    .work-content__info {
      gap: calc(1.375rem + 0.25 * (100vw - 20rem) / 33.5);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.3777985075rem  +  2.7985074627vw , 1.875rem )) {
    .blog-item {
      padding-bottom: clamp( 0.9375rem , 0.3777985075rem  +  2.7985074627vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.3777985075rem  +  2.7985074627vw , 1.875rem )) {
    .blog-item {
      padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 33.5);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.3777985075rem  +  2.7985074627vw , 1.875rem )) {
    .blog-item:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.3777985075rem  +  2.7985074627vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.3777985075rem  +  2.7985074627vw , 1.875rem )) {
    .blog-item:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 33.5);
    }
}

@supports (font-size: clamp( 1.625rem , 1.4757462687rem  +  0.7462686567vw , 1.875rem )) {
    .blog-item__title {
      font-size: clamp( 1.625rem , 1.4757462687rem  +  0.7462686567vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.4757462687rem  +  0.7462686567vw , 1.875rem )) {
    .blog-item__title {
      font-size: calc(1.625rem + 0.25 * (100vw - 20rem) / 33.5);
    }
}

@supports (margin-bottom: clamp( 0.3125rem , -0.0979477612rem  +  2.052238806vw , 1rem )) {
    .blog-item__title {
      margin-bottom: clamp( 0.3125rem , -0.0979477612rem  +  2.052238806vw , 1rem );
    }
}

@supports not (margin-bottom: clamp( 0.3125rem , -0.0979477612rem  +  2.052238806vw , 1rem )) {
    .blog-item__title {
      margin-bottom: calc(0.3125rem + 0.6875 * (100vw - 20rem) / 33.5);
    }
}

@supports (font-size: clamp( 1rem , 0.8507462687rem  +  0.7462686567vw , 1.25rem )) {
    .blog-item__info {
      font-size: clamp( 1rem , 0.8507462687rem  +  0.7462686567vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8507462687rem  +  0.7462686567vw , 1.25rem )) {
    .blog-item__info {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 33.5);
    }
}

@supports (font-size: clamp( 1.875rem , 1.7257462687rem  +  0.7462686567vw , 2.125rem )) {
    .contact__title {
      font-size: clamp( 1.875rem , 1.7257462687rem  +  0.7462686567vw , 2.125rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.7257462687rem  +  0.7462686567vw , 2.125rem )) {
    .contact__title {
      font-size: calc(1.875rem + 0.25 * (100vw - 20rem) / 33.5);
    }
}

@supports (margin-bottom: clamp( 1.4375rem , 1.1763059701rem  +  1.3059701493vw , 1.875rem )) {
    .contact__title {
      margin-bottom: clamp( 1.4375rem , 1.1763059701rem  +  1.3059701493vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.4375rem , 1.1763059701rem  +  1.3059701493vw , 1.875rem )) {
    .contact__title {
      margin-bottom: calc(1.4375rem + 0.4375 * (100vw - 20rem) / 33.5);
    }
}

@supports (margin-bottom: clamp( 1.4375rem , 1.1763059701rem  +  1.3059701493vw , 1.875rem )) {
    .contact__text {
      margin-bottom: clamp( 1.4375rem , 1.1763059701rem  +  1.3059701493vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.4375rem , 1.1763059701rem  +  1.3059701493vw , 1.875rem )) {
    .contact__text {
      margin-bottom: calc(1.4375rem + 0.4375 * (100vw - 20rem) / 33.5);
    }
}

@supports (margin-bottom: clamp( 1.4375rem , 1.1763059701rem  +  1.3059701493vw , 1.875rem )) {
    .contact__image {
      margin-bottom: clamp( 1.4375rem , 1.1763059701rem  +  1.3059701493vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.4375rem , 1.1763059701rem  +  1.3059701493vw , 1.875rem )) {
    .contact__image {
      margin-bottom: calc(1.4375rem + 0.4375 * (100vw - 20rem) / 33.5);
    }
}
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #FF6464;
  }

  .footer-sochial__link:hover {
    color: #FF6464;
  }

  .resune-info__button:hover {
    background: #dd2828;
  }

  .posts__all:hover {
    text-decoration: underline;
  }
}